<h3>Returned </h3>

<div class="total " *ngFor="let data of returnCustomerData">
    <div class="col-md-8 ">
        <div class="applicant-details">
            <div class="applicant-table">
                <table (keyup)="calculator($event)">
                    <tr>
                        <td width="30%">ApplicationId </td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.applicationid}} </td>
                    </tr>
                    <tr>
                        <td width="30%">Name </td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.appl1name}} </td>
                        <td width="30%" rowspan="2"><img src={{imagesrc}} class="applicant-img" onerror="this.onerror=null; this.src='assets/images/profile.png'"></td>
                    </tr>
                    <tr>
                        <td width="30%"> Date of Birth</td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.dobdate}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Aadhar</td>
                        <td width="10%">:</td>
                        <td width="30%">{{aadharNumber}} </td>
                    </tr>
                    <tr>
                        <td width="30%">Mobile</td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.mobileno}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Home Address</td>
                        <td width="10%">:</td>
                        <td width="30%">
                            {{data.permhouseno+","+ data.permstreetno+"," +data.permlandmark +","+ data.permdistrict+","+ data.permstate+","+ data.permdistrict +","+ data.permstate+","+ data.permpincode}}
                        </td>
                        <td width="5%">
                            <a href={{googlemaphousemap}}><img src="assets/images/location.png" height="30px" width="30px"></a>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">Business Address</td>
                        <td width="10%">:</td>
                        <td width="30%">
                            {{data.commhouseno+ ","+data.commstreetno +","+data.commlandmark+ ","+data.CommDistrict+ ","+data.commstate+","+ data.commpincode}}
                        </td>


                        <td width="25%">
                            <a href={{googlemapbusinessmap}}><img src="assets/images/location.png" height="30px" width="30px"></a>
                        </td>
                    </tr>
                    <tr>
                        <th>Subk Recommendation</th>
                    </tr>
                    <tr>
                        <td width="30%">Loan Amount </td>
                        <td width="10%">:</td>
                        <td width="30%">Rs.{{data.uhRecommendedLoanamount}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Rate of Interest </td>
                        <td width="10%">:</td>
                        <td width="30%" value="{{roi">{{roi}}%</td>
                    </tr>
                    <tr>
                        <td width="30%">No.of Months</td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.uhrecommendednoofmonths}}</td>
                    </tr>
                    <tr>
                        <td width="30%">EMI</td>
                        <td width="10%">:</td>
                        <td width="30%">Rs.{{data.uhrecommendedinstalmentamount}}</td>
                    </tr>
                    <!-- <tr>
                        <th>BM Approved</th>
                    </tr>
                    <tr>
                        <td width="30%">Loan Amount</td>
                        <td width="10%">:</td>
                        <td width="30%"><input type="number" placeholder="Rs." id="loanAmount"></td>
                    </tr>
                    <tr>
                        <td width="30%">Rate of Intrest</td>
                        <td width="10%">:</td>
                        <td width="30%"><input type="hidden" placeholder="Rs." id="RateOfIntrest" value="5" readonly>5%</td>
                    </tr>
                    <tr>
                        <td width="30%">No.of Months</td>
                        <td width="10%">:</td>
                        <td width="30%"><input type="number" placeholder="" id="NoOfMonths"></td>
                    </tr>
                    <tr>
                        <td width="30%">EMI</td>
                        <td width="10%">:</td>
                        <td width="30%">Rs.<input type="button" placeholder="Rs." id="emiAmt" value="" readonly></td>
                    </tr> -->


                    <!-- <tr>
            <td>
              <input type="checkbox" id="SavingAccount " [(ngModel)]="showMe"><b>Customer having Saving Account</b>
            </td>
          </tr>
          <tr *ngIf="showMe">
            <td width="30%">Saving Account Number</td>
            <td width="10%">:</td>
            <td width="30%">
              <input type="password" id="savingAccount">
            </td>
          </tr>
          <tr *ngIf="showMe">
            <td width="30%">Confirm Saving Account Number</td>
            <td width="10%">:</td>
            <td width="30%">
              <input type="text" id="confirmsavingAccount">
              <span id='message'></span>
            </td>
          </tr>
          <tr *ngIf="showMe">
            <td width="30%">Bank Custumer ID</td>
            <td width="10%">:</td>
            <td>
              <input type="password" id="bankCustId">
            </td>
          </tr>
          <tr *ngIf="showMe">
            <td width="30%">Confirm Bank Custumer ID</td>
            <td width="10%">:</td>
            <td>
              <input type="text" id="confirmbankCustId">
              <span id='message'></span>
            </td>
          </tr> -->



                </table>
            </div>


        </div>

    </div>
    <div class="col-md-4 download-links">
        <div class="download-header">
            <h3>Download Files</h3>
        </div>
        <div class="download-body" (click)="downloadPdf($event)" id="{{data.applicationid}}">
            <div class="download-file first-file">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                <span value="fxappraisal">View Application Appraisal</span>
            </div>
            <div class="download-file">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                <span value="kycdoc">View KYC Details</span>
            </div>
            <div class="download-file">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                <span value="LOAN">Application Cum Appraisal</span>
            </div>
            <div class="download-file">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                <span value="SAVING">Saving's Form.</span>
            </div>
            <div class="download-file">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                <span value="PRIMARY">Primary Info.</span>
            </div>
        </div>

    </div>
</div>