table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
   text-align: left;
    padding: 8px;
  }
  .total {
    height: 100%;
    display: block;
    padding-left: 100px;
    padding-right: 100px;
  }
  .applicant-details {
      height: 550px;
      
  }
  img {
    transition:transform 0.80s ease;
}

img:hover {
    -webkit-transform:scale(2.5); /* or some other value */
    transform:scale(2.0);
}
  .download-links {
      height: 550px;
     
  }
  .applicant-table {
    height: 550px;
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;
  }
  .applicant-img {
    height: 120px;
    width: 120px;
    position: absolute;
    right: 50px;
    transform: translate(2%,2%);
  }
  .applicant-details  {
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    background-color: #fff;
  }
  .download-body {
    text-align: left;
    padding: 25px;
    height: 480px;
    
    overflow-y: scroll;
}
.download-links {
  box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
  background-color: #fff;
  padding: 0;
}

.buttons-3 button {
margin-right: 15px;
    padding: 4px 50px;
    color: #fff;
    border: none;
    outline: none;
}
.download-header h3 {
  text-align: left;
  padding:0 25px;
}
.download-header {
  border-bottom: 1px solid #ddd; 
}
.download-file {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #a9a6a6;
}
.download-file.first-file {
  padding-top: 0;
}
.download-file .fa-file-pdf-o {
  font-size: 25px;
  color: red;
  margin-right: 7px;
}
.download-file a {
  font-size: 14px;
  color: #000;
}
.remarksDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}
#emiAmt {
  background: none;
  border: none;
  padding: 0;
}