label {
    display: inline-block;
    max-width: 100%;
    margin-left: -50px;
    font-weight: 800;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

#from {
    margin-right: 100px;
}

.container-name .from-to {
    display: inline-block;
    width: 200px;
    min-height: 40px;
    background-color: #016e1d;
    height: 10px;
}

.text {
    color: white;
    font-size: 15px;
}

.btn-success {
    color: #fff;
    background-color: #016e1d;
    border-color: #016e1d;
    margin-left: 800px;
}

.dateSubmitbtn {
    display: inline-block;
    position: absolute;
    top: 15px;
    /* width: 200px; */
    right: 15%;
}

.dateSubmitbtn button {
    background: #016e1d;
    color: #fff;
    border: none;
    padding: 6px 20px;
}

.dates-from-to {
    position: relative;
}