<div class="text"></div>
<div class="container-name">
    <div class="dates-from-to">
        <div class="from-to from">
            <span class="text">From:</span>
            <my-date-picker name="mydate" [selDate]="selDate1" (dateChanged)="onFromDateChanged($event)" [options]="myDatePickerOptions" required>
            </my-date-picker>
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="from-to to">
            <span class="text">To:</span>
            <my-date-picker name="mydate" [selDate]="selDate2" (dateChanged)="onToDateChanged($event)" [options]="myDatePickerOption" required>
            </my-date-picker>
        </div>
        <div class="dateSubmitbtn">
            <button type="button" class="" (click)=getChartCount($event)>Submit</button>
        </div>
    </div>

</div>
<br>
<br>
<br>
<nav class="col-md-12">
    <div class="col-md-6"><canvas id="barChart"></canvas></div>
    <div class="col-md-6"><canvas id="pieChart"></canvas></div>
    <br>
</nav>