.header-fixed {
    background-color: #016e1d;
    height: 60px;
    box-sizing: border-box;
    width: 100%;
}

.header-logo {
    float: left;
    margin-right: right;
    text-align: right;
}

.header-logo1 {
    float: right;
    font-weight: bold;
    font-size: larger;
    color: white;
    text-align: left;
    margin-right: 10px;
    margin-top: 7px;
}

.header-logo1 span {
    display: inherit;
}