<div class="login">
    <div class="container">
        <div class="login-container-wrapper clearfix">
            <ul class="switcher clearfix">
                <li class="first logo active" data-tab="login">
                    <img src="assets/images/logo.png" alt="" width="200px" height="200px">
                </li>
            </ul>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="tab-content">
                <div class="tab-pane active" id="login">
                    <form class="form-horizontal login-form" (ngSubmit)=checkLogin($event) >
                        <div class="form-group relative">
                            <input class="form-control input-lg" id="login_username" placeholder="UserName" required="" type="email" input type="email" name="username" [(ngModel)]="username"> <i class="fa fa-user"></i>
                        </div>
                        <div class="form-group relative">
                            <input class="form-control input-lg" id="login_password" placeholder="Password" required="" type="password" input type="password" name="password" [(ngModel)]="password"> <i class="fa fa-lock"></i>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-lg btn-block" type="submit">Login</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
