<div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Change Password</h2>

    <form class="login-container">
        <p><input type="text" placeholder="Current Password" name="oldPassword"></p>
        <p><input type="text" placeholder="New Password" name="newPassword"></p>
        <p><input type="text" placeholder="Confirm Password" name="confirmPassword"></p>
        <p><input type="submit" value="Save" (click)='checkPassword($event)'></p>
    </form>
</div>